<div class="col-sm-2 sidenav">
							<br> <br> <br> <br> <br> <br>
							<p>
								<a href="#addInventory">ADD INVENTORY</a>
							</p>
							<br> <br>
							<p>
								<a href="#">PRODUCT DESCRIPTION</a>
							</p>

						</div>
