<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="Stylesheet" type="text/css" href="/stylesheets/style.css">

</head>
<body>
<header> <% include partials/Header %> </header>
	<main> <% include partials/Sidenav %> </main>
		<div class="col-sm-10 text-left">
					<h1>about us</h1><br>
					<br>
					<h1>about us</h1></div>
	<footer> <% include partials/Footer %></footer>
</body>
</html>